/* section{ 
} */
/* @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap'); */
body{
background-color: #ffffff; 
font-family: 'Montaga', serif;
overflow-x: hidden;
}
.logo{
    height: 60px;
    width: 120px;
    text-align: center;
}
.headerbutton{
    height: 35px;
    width: 130px;
    background-color: #FC8F00;
    border-radius: 50px;
    align-items: center;
    justify-content:center ;
    text-align: center;
  
    color: #fff;
    
}
.navMenulist{
    list-style-type: none;
    display: flex;
    margin-top: 44px;
    
}
.navUlC{
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.DropdownSele{
    width: 100%;
    height: 100%;
    max-width: 47.5rem;
    position: relative;
    color: rgb(0, 0, 0);
}

/* Hompepage  */
.sectCard{
    border-radius: 2.25rem;
    background: #2FC1DF;
}
.homeCategory{
    margin-left: -12px;
     border-radius: 2.25rem;
     background: #fff;
     color: #000;
}
.IconsSec{
   text-align: center;
}
/* Third section */
.thirdSec{
    margin-top: -185px;
}
.firstrowImg{
    height: 100%;
}

 .lastCol{
    width: 50% !important;
 }
 .headCat{
     text-align: center;
     color: black;
 }
 .CategoriesIcon{
    height: 50px;
    width: 70px;
    text-align: center !important;
    margin-left: 50px;
 }
 .sectBody{
    text-align: center;
    margin: 10px
 }
 .cardt{
     font-size: 16px;
 }
 .ImagesClas{
     height: 50%;
 }
 .colImgsec{
     padding: 0;
 }
/* .imgClas{
    margin-left: -24px;
    object-fit: contain;
} */
.firstImgSec{
    object-fit: cover;
}

.cricketimg{
    width: 285px;
}
.colSixsec{
    padding: 0;
}
 /* featured section */
 .cardPrice:hover{
     transform: scale(1.1);
    box-shadow: 5px 6px 22px -6px;
    transition: 1s;
 }

.cardPrice{
    position: relative;
    width: 215px;
    height: 335px;
    background: #ffffff;
    overflow: hidden;
}
.cardPrice::before{
    content: '';
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #ffffff;
    transform: skewY(345deg);
    transition: 0.5s;
}
.cardPrice:hover::before{
    top: -70%;
    transform: skewY(390deg);
}
.cardPrice::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 8rem;
    color: rgba(0, 0, 0, 0.1);
}
.cardPrice .imgbx{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 0px;
    z-index: 1;
}
.cardPrice .imgbx img {
    max-width: 100%;
    transition: 0.5s;
    object-fit: contain;
}
.cardPrice:hover .imgbx img
{
     max-width: 50%;
}
.cardPrice .contentBx{
    position: relative;
    padding: 22px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.cardPrice .contentBx h3 {
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.cardPrice .contentBx .price{
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: 500;
     text-transform: uppercase;
    letter-spacing: 1px;
}
.cardPrice .contentBx .buyNow {
    position: relative;
    top: 200px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background: #2196f3;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.cardPrice:hover .contentBx .buyNow{
top: 0;
    opacity: 1;
}

.iconsHead{
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    height: 100%;
    color: #fff;
}

/* search bar */
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 100%;
  border-radius: 17px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: none;
    background: #2fc1df;
    text-align: center;
    color: #232222;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Categories Drop dowm */

.dropdown{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform .4s ease;
    background: #fff;
    border-radius: 16px;
    margin-left: -12px;
}


.dropdown__btn{
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.dropdown__link{
  position: absolute;
  color: #fff;
  text-decoration: none;
  width: calc(100% + 2px);
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #000;
  margin-top: .2rem;
  right: -1px;
  transform: scale(0) rotate(-90deg);
  transform-origin: top right;
  opacity: 0;
  transition: transform .3s ease, opacity 0s ease;
}

.dropdown__link::before{
  content:'';
  position: absolute;
  width: 100%;
  height: 3.2rem;
  left: 0;
  top: -0.2rem;
}

.dropdown:hover .dropdown__link{
  transform: scale(1) rotate(0);
  opacity: 1;
}


/* Product Form  */
.ProductSubmitBtn{
    text-align: center;
    position: relative;
    justify-items: center;
    align-items: center;
    display: grid;
}
.formContaineP{
    margin-top: 15px;
}
/* .seconRow{
    height: 52%;
} */
/* end product Form */

/* singleproduct */
.section1div{
    background-color: #fff;
    /* box-shadow: 10px 10px 8px #888888;     */
    height: 65vh;
}
.section1div2{  
    padding:5px;
    /* border: 2px solid grey; */
}
.productname{
    /* height: 35vh; */
    padding:15px;
    /* border:1px solid grey; */
}
.productname h2 {
    color: #000;
    text-align: center;
}
.singleproductimgdiv{
    display: flex;
}
.singleproductimg{
    height: 55vh;
    margin: auto;
    text-align: center;
    object-fit: cover;  
}
.dcenter{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.productname p{
    color:#000;
    font-size: 20px;
    font-weight: 800;
}
.buynowbtn{
    background-color: #fff;
    border: 0px;
    border-radius:10px;
    box-shadow: 5px 5px 8px grey; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.buynowbtn i {
    font-size: 30px;
    padding-right: 10px;
}
.singleproductgallaryimg{
    height: 100px;
    border-radius: 10px;
    padding:5px;
    margin-bottom:10px
}
.div2gallary{
    display: flex;
    justify-content: center;
}
.singlesection3{
    background-color:#272727;
    box-shadow: 1px 1px 5px grey;
    height: 33vh; 
    display: flex;
    align-items: center;
}
.singlesection3 .container {
    background-color:#272727;  
}
.singlesection3 h4 { 
color: #fff;
}
.singlesection3 h6 { 
    color: #fff;
    }
    .footer{
        background-color:#272727; 
        color:#fff;
        height: 50vh;
    }
    .footer .container{
        background-color:#272727; 
    }
    .productname p{
        text-align: center;
    }
/* end singleproduct */

/* Dashboard */
.cardSec{
    height: 100px;
    z-index: 1;
}
.cardSec:hover{
     transform: scale(1.1);
    box-shadow: 5px 6px 22px -6px;
}
.taskIcon{
   height: 75px;
    width: 70px;
    z-index: 10;
    box-shadow: 5px 6px 22px -6px;
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    margin-top: -15px;
    margin-left: 15px;
}
.material-icons{
    font-size: 50px;
    line-height: 70px;
    width: 60px;
    height: 56px;
    text-align: center;
}
.cardContent{
    text-align: center;
    margin-top: 5px;
}
.orderCount{
    margin-top: -12px;
}
.headCont{
    color: #00000094;
    font-size: 14px;
}
.taskIconTw{
    height: 75px;
    width: 70px;
    z-index: 10;
    box-shadow: 5px 6px 22px -6px;
   background: linear-gradient(
60deg
, #66bb6a, #43a047);
    margin-top: -15px;
    margin-left: 15px;
}
.taskIconTh{
    height: 75px;
    width: 70px;
    z-index: 10;
    box-shadow: 5px 6px 22px -6px;
    background: linear-gradient(
60deg
, #ef5350, #e53935);
    margin-top: -15px;
    margin-left: 15px;
}
.taskIconFr{
    height: 75px;
    width: 70px;
    z-index: 10;
    box-shadow: 5px 6px 22px -6px;
        background: linear-gradient(
60deg
, #26c6da, #00acc1);
    margin-top: -15px;
    margin-left: 15px;
}
.cardfooter{
    border-top: 1px solid #c6c6c6;
    margin-top: 20px;
}
.Chartcard{
    height: 250px;
    /* background: url(./images/pexels-victor-freitas-841130.jpg); */
        background-size: cover;
    background-repeat: no-repeat;
}
.ChartcardTwo{
    height: 250px;
    /* background: url(./images/pexels-pixabay-209977.jpg); */
    
        background-size: cover;
    background-repeat: no-repeat;
}
.ChartcardTh{
    height: 250px;
    /* background: url(./images/pexels-pixabay-260409.jpg); */
    
        background-size: cover;
    background-repeat: no-repeat;
}

/* charts */
#chartdiv {
  width: 100%;
  height: 500px;
}


/* home page */

.img1{
    height: 65vh;
    width: 100%;
    object-fit: cover;
}
.img2{
    height:32.5vh;
    width: 100%;
    object-fit: fill;
}
.img3{
   height: 32.5vh;
   width: 100%;
   object-fit: fill;
}
.paddingzero{
    padding:0px;
}
/* end home page */

/* Footer Section */
.footSect{
    height: 55vh;
    background: #2FC1DF;
    margin-top: 6rem!important;
    color: #fff;
}
.footCol{
    margin-top: 30px;
    /* align-items: center;
    justify-content: center;
    display: grid;
    height: 100%; */
}
.footerIcon{
    display: flex;
}
.iCoNSS{
    margin-right: 5px;
}
.footSect p{
    margin-bottom: 0px;
}
/* Single Product Page */
.SmallCardimg, .colSmcard{
    height: 115px;
    width: 115px;
}
.firstSecR{
    align-items: center;
}
.SixColImg{
    height: 100%;
    width: 100%;
}

.lastcolP{
    justify-content: center;
    align-items: center;
    position: relative;
    display: grid;
    height: 100%
}
.ColContent{
    width: 100%;
}
.conatinHei{
    height: 102vh;
}
.firstsecimg{
    align-items: center;
    justify-content: center;
    position: relative;
    display: grid;
}
.colthreec{
    margin-bottom: -140px;
}
.btn-primary{
    width: 100%;
    background: #2fc1df !important;
    color: #000;
    box-shadow: 0px 2px 6px 1px;
     border: none !important;
}
.thirdSecC{
    margin-top: -80px;
}
.btn-primary:hover{
    color: #000 !important;
}
.detailRow{
    text-align: center;
}
.productDetails{
    display: flex;
}
.itemTitle{
    font-weight: bold;
    font-size: 20px;
}
.itemDescrip{
    font-size: 20px;
}
.card-body{
    padding: 2rem 5rem  !important
}
.selectValue{
    width: 20vh;
    border-radius: 5px;
}
/* Login Page */
.loginImg{
    width: 100%;
    height: 100%;
}
.imgRowLog{
    height: 100vh;
}
.colElog{
    padding-left: 0px !important;
}
.inputLog{
    width: 100%;
}
.headingLog{
    text-align: center;
}
.loginForm{
    margin-top: 120px;
}
.fogetLog{
    text-align: end;
    padding-right: 0;
}
/* Shopping Cart */
.shopCartHead{
    text-align: center;
}
.priceOfProd{
    display: flex;
}
/* .ImgCardCat{
    height: 50%;
} */
.imageAddcart{
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding: 60px;
}
.imgColaddcart{
    padding-left: 0;
    padding-right: 0;
}
.colFouraddCart{
    height: 100%;
    background:#2fc1df;
}
.fourtSecAddcart{
    background:#2fc1df;
    height: 20vh;
}
.contAddcart, .borderInaddcart{
    height: 100%;
}
.AddCardImgrow{
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    height: 100%;
}
.loader{
    display: flex;
    justify-content: center;
    height: 100vh;
}
