/* section{
    
} */
body{
background-color: #EAEDED; 
font-family: 'Montserrat', sans-serif;
overflow-x: hidden;
}
.container{
background-color: #EAEDED;
}
.headersearchbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbar{
    width:600px; 
    height:40px;
    border-radius: 10px;  
    text-align: center;
    box-shadow: 5px 5px 15px #000;
}
.searchicon{
    font-size:25px;
    padding-left:10px;
    color:#fff;

}
.section1{
    background-color: #fff;
    /* box-shadow: 10px 10px 15px grey;     */
}
.player_image{
    height:410px;
    width: "100%";  
    object-fit: cover;   
}
.section2div{ 
    height: 200px;
    /* width: 280; */
    padding: 20px;
}
.section2div2{
box-shadow: 5px 5px 25px grey;
background:#fff;
height: 180px;
justify-content: center;
display: flex;
}
.section2{
height: 50vh;
}
/*.firststproduct{
height: 150;
width:150;
}*/
/* .section1firstdiv{
/* z-index: 2; */
/* } */
.sectionthird{
    background-color:#131921;
    padding: 20px;
    height: 150vh;
}
.sectionthird2{
    background-color:#131921;
}
.sectionthird  h2{
color:#fff;
text-align: center;
}
.box1{  
    width: 230px;
    background-color: #fff;
    margin-left:15px;
    margin-right:15px;
    margin-top:20px;
    padding: 0px;
    /* box-shadow: 2px 2px 2px #000; */
}
.thirdsectionrow{
justify-content:center;
 }  
.box1div1{
height: "100%";
text-align:center;

}   
.box1 img {
height:140px;
width: 230px;
object-fit: cover; 
 } 
 .box1div2{
padding:5px;
 }  
 .box1div3{
     text-align: center;
     box-shadow: 0px 2px 2px #888888;
 }     
 .box1div3 img{
     height:10px;
     width: 100px;
     object-fit:contain; 
   
 }   
 .box1div4{
    box-shadow: 0px 2px 2px #888888;
    border-radius: 5px;
    width: 200px;
    padding: 3px;
    margin: auto;
 }
 .box1div4 h5{
     color:#FC8F00;
     font-weight: bold;     
 }
 .crouselimg{
     height: 180px;
     width:180px;
     border-radius:90px;
     border: 5px solid #fff;
     box-shadow: 5px 4px 12px grey;
     opacity: 0.9;  
     object-fit: cover;   
 }
 /* .crouseldiv{
 /* padding: 5px; */
 /* } */
 .coruslediv2{
     height: 40px;
     box-shadow: 0.5px 0.5px 12px grey;
     background-color: #fff;
     padding: 10px;
    text-align: center;
    margin-top:20px;
 }
 .Carousel{
     padding: 10px;
 }
.footerimage{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
 
}
header{
    padding: 10px;
    background-color: #131921;
}
.headercontainer{
    background-color: #131921;
}
.logo{
    height:80px;
    width: 90px;
    text-align:center;
}
.headerbutton{
    height: 35px;
    width: 130px;
    background-color: #FC8F00;
    border-radius: 50px;
    align-items: center;
    justify-content:center ;
    text-align: center;
  
    color: #fff;
    
}
.headerbutton  p{
    margin: auto;
}
.headerbuttondiv{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content:space-between ;
}
/* slider code */

/* end slider code */

/* Product Form  */
.ProductSubmitBtn{
    text-align: center;
    position: relative;
    justify-items: center;
    align-items: center;
    display: grid;
}
.formContaineP{
    margin-top: 100px;
}
/* end product Form */

/* singleproduct */
.section1div{
    background-color: #fff;
    /* box-shadow: 10px 10px 8px #888888;     */
    height: 65vh;
}
.section1div2{  
    padding:5px;
    /* border: 2px solid grey; */
}
.productname{
    /* height: 35vh; */
    padding:15px;
    /* border:1px solid grey; */
}
.productname h2 {
    color: #000;
    text-align: center;
}
.singleproductimgdiv{
    display: flex;
}
.singleproductimg{
    height: 55vh;
    margin: auto;
    text-align: center;
    object-fit: cover;  
}
.dcenter{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.productname p{
    color:#000;
    font-size: 20px;
    font-weight: 800;
}
.buynowbtn{
    background-color: #fff;
    border: 0px;
    border-radius:10px;
    box-shadow: 5px 5px 8px grey; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.buynowbtn i {
    font-size: 30px;
    padding-right: 10px;
}
.singleproductgallaryimg{
    height: 100px;
    border-radius: 10px;
    padding:5px;
    margin-bottom:10px
}
.div2gallary{
    display: flex;
    justify-content: center;
}
.singlesection3{
    background-color:#272727;
    box-shadow: 1px 1px 5px grey;
    height: 33vh; 
    display: flex;
    align-items: center;
}
.singlesection3 .container {
    background-color:#272727;  
}
.singlesection3 h4 { 
color: #fff;
}
.singlesection3 h6 { 
    color: #fff;
    }
    .footer{
        background-color:#272727; 
        color:#fff;
        height: 50vh;
    }
    .footer .container{
        background-color:#272727; 
    }
    .productname p{
        text-align: center;
    }
/* end singleproduct */

/* Dashboard */
.cardSec{
    height: 100px;
    z-index: 1;
}
.cardSec:hover{
     transform: scale(1.1);
    box-shadow: 5px 6px 22px -6px;
}
.taskIcon{
   height: 75px;
    width: 70px;
    z-index: 10;
    box-shadow: 5px 6px 22px -6px;
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    margin-top: -15px;
    margin-left: 15px;
}
.material-icons{
    font-size: 50px;
    line-height: 70px;
    width: 60px;
    height: 56px;
    text-align: center;
}
.cardContent{
    text-align: center;
    margin-top: 5px;
}
.orderCount{
    margin-top: -12px;
}
.headCont{
    color: #00000094;
    font-size: 14px;
}
.taskIconTw{
    height: 75px;
    width: 70px;
    z-index: 10;
    box-shadow: 5px 6px 22px -6px;
   background: linear-gradient(
60deg
, #66bb6a, #43a047);
    margin-top: -15px;
    margin-left: 15px;
}
.taskIconTh{
    height: 75px;
    width: 70px;
    z-index: 10;
    box-shadow: 5px 6px 22px -6px;
    background: linear-gradient(
60deg
, #ef5350, #e53935);
    margin-top: -15px;
    margin-left: 15px;
}
.taskIconFr{
    height: 75px;
    width: 70px;
    z-index: 10;
    box-shadow: 5px 6px 22px -6px;
        background: linear-gradient(
60deg
, #26c6da, #00acc1);
    margin-top: -15px;
    margin-left: 15px;
}
.cardfooter{
    border-top: 1px solid #c6c6c6;
    margin-top: 20px;
}
.Chartcard{
    height: 250px;
    /* background: url(./images/pexels-victor-freitas-841130.jpg); */
        background-size: cover;
    background-repeat: no-repeat;
}
.ChartcardTwo{
    height: 250px;
    /* background: url(./images/pexels-pixabay-209977.jpg); */
    
        background-size: cover;
    background-repeat: no-repeat;
}
.ChartcardTh{
    height: 250px;
    /* background: url(./images/pexels-pixabay-260409.jpg); */
    
        background-size: cover;
    background-repeat: no-repeat;
}

/* charts */
#chartdiv {
  width: 100%;
  height: 500px;
}